<div class="example-container">
  <mat-card-header>
    <div class="logotransfers"></div>
  </mat-card-header>
  <mat-form-field>
    <input #origin matInput placeholder="Origin" value="">
  </mat-form-field>

  <mat-form-field>
    <input #dest matInput placeholder="Destination" value="">
  </mat-form-field>

  <div class="">
    <button mat-button class="fontcolor" (click)="getRideEstimate()">Find a Ride !</button>
  </div>
  <div class="">
    <img mat-card-image class="dummyIcon" alt="">
    <img mat-card-image class="carIcon" alt="">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>John Doe is your Dirver</mat-card-title>
      <mat-card-subtitle>Estimates cost - 5000 points</mat-card-subtitle>
      <mat-card-subtitle>Toyota Yaaris - 958 MTD</mat-card-subtitle>
    </mat-card-header>

  </div>
</div>