<div class="card-block">
         <!-- loading layout replaced by app after startupp -->
         <div class="app-loading">
            <div class="logo"></div>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Username" value="">
                </mat-form-field>
              <div></div>
              <mat-form-field class="example-full-width">
                  <input matInput placeholder="Password" value="">
                </mat-form-field>
              </form>

              <button style="width:200px;" mat-raised-button color="primary">Login</button>
              <div></div>
            <!-- <button class="btn btn-social-icon btn-google mx-1 googlebutton" (click)="signInWithGoogle()"><span class="fa fa-google"></span></button> -->
            <button style="margin-top:40px;" class="loginBtn loginBtn--google" (click)="signInWithGoogle()">
                <span class="fa fa-google">Login with Google</span>
            </button>

            <button class="loginBtn loginBtn--facebook">
                Login with Facebook
            </button>
          </div>
    
  </div>